# Default values for helm-guestbook.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

appName: test2

image:
  repository: docker.io/rahulraj/nginx:latest_11
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class:    nginx:latest31
    # kubernetes.io/tls-acme: "true"
  path: /
  hosts:
    - chart-example.local
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 200m
    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

namespace: testnamespace
helmResourcePolicy: "keep"
labels:
  argocd.argoproj.io/managed-by: argocd
  testlabel: test
annotations:
  kubernetes.io/requester: system:admin
env:
 - dev
 - sit

